{% extends "app/layout.html" %} {% block content %} {% load staticfiles i18n %}



<div style="text-align: center">
    <h4>¿Eres un organizador de ligas de juegos retro?</h4>
    <img title="Entrar a la liga" style="width: 400px; height: 200px;" src="{{ baseUrl }}static/app/img/ryuiori.png">
    <h4>¡Crea tu propia liga de tu juego favorito!</h4>
    <p>
        <span>- Sistema de ranking ELO (sistema que usa el ajedrez).</span><br>
        <span>- Torneos y desafios personales "First to Win".</span><br>
        <span>- Sistema de rangos de los caballeros del zodiaco!.</span><br>
    </p>
{% if not request.user.is_authenticated %}
<a href="{% url 'signup' %}" data-toggle="tooltip" data-placement="bottom" title="Registrarse" class="btn btn-danger my-2 my-sm-0" type="submit">Regístrate y crea tu liga totalmente gratis!</a>
{% endif %}
<hr>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% if request.user.is_authenticated %}
            <div class="col-md-2">
                <div class="card" style="margin-bottom: 15px; text-align: center; background: #222; ">
                     <h5 class="card-header text-light">Crear nueva liga</h5>
                    <div class="card-body">
                        <a href="#modal-create-league" data-toggle="modal"><img style="width: 100px; height: 120px;" src="{{ baseUrl }}static/app/img/plus.png"></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% for league in leagues %}
            <div class="col-md-2">
                <div class="card" style="margin-bottom: 15px; text-align: center; background: #222">
                     <h7 class="card-header  text-light">
                        <a href="{% url 'league_index' league.slug %}">{{ league.title }}</a>
                        
                    </h7>
                    <div class="card-body" style="position: relative">
                        <div class="" style="position: absolute; bottom: 5px; right: 5px"><span class="badge badge-primary">+ {{ league.results }} partidas jugadas!</span></div>
                        <div class="" style="position: absolute; bottom: 25px; right: 5px"><span class="badge badge-primary">Fundada por {{ league.user.username}}</span></div>
                        <a href="{% url 'league_index' league.slug %}">
                        <img title="Entrar a la liga" style="width: 100%; height: 120px;" src="{{ baseUrl }}static/app/img/games/{{ league.game.url_image }}.png">
                        </a>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

<hr>
<div style="text-align: center">
    {% for game in games %}
    <img title="{{ game.title }}" style="width: 70px; height: 70px;" src="{{ baseUrl }}static/app/img/games/{{ game.url_image }}.png">
    {% endfor %}
</div>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-create-league" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form id="form-new-league" action="{% url 'league_create' %}" method="POST"
                      enctype="multipart/form-data" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <fieldset>
                            
                              {% csrf_token %}

                              {{ form.non_field_errors }}

                              {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                              {% endfor %}

                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                        {{ field.help_text }} 
                                    </div>
                                {% endfor %}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="save-new-result" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
{% endblock %}
