{% extends "app/layout.html" %} {% block content %} {% load staticfiles i18n %}
<div class="row">
	{% for league in leagues %}
	<div class="col-md-3">
		<div class="card" style="margin-bottom: 15px; text-align: center; background: #222">
			<div class="card-body">
				<h5 class="card-title">{{ league.title }}</h5>
				<p class="card-text">{{ league.description }}</p>
				<a href="{% url 'league_index' league.slug %}">
                <img class="rounded-circle" style="width: 200px; height: 200px;" src="{{ baseUrl }}static/app/img/liga_chilena.png">
                </a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
