{% extends "app/layout.html" %} {% block content %} {% load staticfiles i18n %}
{% static "" as baseUrl %}

{% if user.is_superuser %}
    <a class="btn btn-danger" href="{% url 'new_match' %}">+ Agregar resultado</a>
{% endif %}

<div class="row row-table">
  <div class="col-md-2">Desafiante</div>
  <div class="col-md-2">Rival</div>
  <div class="col-md-2">Resultado</div>
  <div class="col-md-2">Tipo de pelea</div>
  <div class="col-md-1">Torneo</div>
  <div class="col-md-1">Fecha</div>
  <div class="col-md-1">Replay</div>
</div>
{% for result in results %}
<div class="row row-table">
    <div class="col-md-2">
      <a href="#">
          <img class="rounded-circle" style="width: 30px; height: 30px;" src="{{ baseUrl }}/app/img/chars/{{result.challenging.main.url_image }}">
          {{ result.challenging.nickname }}
          <br>
          {% if result.challenging == result.victory_player %}
          <span style="color: green">+ {{ result.ranking_del|floatformat }}</span>
          {% else %}
          <span style="color: red">- {{ result.ranking_del|floatformat }}</span>
          {% endif %}
      </a>
    </div>
    <div class="col-md-2">
        <a href="#">
            <img class="rounded-circle" style="width: 30px; height: 30px;" src="{{ baseUrl }}/app/img/chars/{{result.rival.main.url_image }}">
        {{ result.rival.nickname }}</a>
          <br>
          {% if result.rival == result.victory_player %}
          <span style="color: green">+ {{ result.ranking_del|floatformat  }}</span>
          {% else %}
          <span style="color: red">- {{ result.ranking_del|floatformat }}</span>
          {% endif %}
    </div>
    <div class="col-md-2">{{ result.challenging_score }} - {{ result.rival_score }}</div>
    <div class="col-md-2"><span class="badge badge-primary">{{ result.mtype.name }}</span></div>
    <div class="col-md-1">--</div>
    <div class="col-md-1">{{ result.created }}</div>
    <div class="col-md-1">
      {% if result.replay_url %}
      <a href="{{ result.replay_url }}">Ver replay</a>
      {% else %}
      --
      {% endif %}
      
    </div>
  </div>
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if results.has_other_pages %}
      {% if results.has_previous %}
      <li class="page-item"><a class="page-link" data-page="{{ results.previous_page_number }}" href="{{ request.path }}?page={{ results.previous_page_number }}">Anterior</a></li>
      {% endif %}
      {% for i in results.paginator.page_range %}
      {% if results.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" data-page="{{ i }}" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if results.has_next %}
      <li class="page-item"><a class="page-link" data-page="{{ results.next_page_number }}" class="change-page" data-page="{{ results.next_page_number }}" href="{{ request.path }}?page={{ results.next_page_number }}">Siguiente</a></li>
      {% endif %}
  </ul>
  {% endif %}
</ul>
</nav>
{% endblock %}
