{% extends "app/layout.html" %} {% block content %} {% load staticfiles i18n %}
{% static "" as baseUrl %}

<form class="form-horizontal" role="form" method="post">
    <div class="panel panel-default">
        <div class="panel-body">

            {% csrf_token %}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id }}" class="col-sm-offset-1 col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-7">
                        {{ field }}
                    </div>
                    <span class="generic-error">{{ field.errors.as_text }}</span>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}

        </div>
        <div class="panel-footer">
            <button class="btn btn-danger">Guardar</button>
        </div>
    </div>
</form>
<script type="text/javascript">

</script>
{% endblock %}