{% extends "app/layout.html" %} {% block content %} {% load staticfiles i18n %}
{% static "" as baseUrl %}


<table class="table">
	<thead>
		<tr>
			<th colspan="100">Detalles del jugador</th>
		</tr>
	</thead>
	<tr>
		<th>Nick</th>
		<th>{{ player.nickname }}</th>
	</tr>
	<tr>
		<th>Ranking</th>
		<th><h4><span class="badge badge-secondary">{{ player.ranking }}</span></h4></th>
	</tr>	
	<tr>
		<th>Main</th>
		<th><img class="rounded-circle" style="width: 40px; height: 40px;" src="{{ baseUrl }}/app/img/chars/{{player.main.url_image }}"></th>
	</tr>				
</table>

<div class="row row-table">
  <div class="col-md-12 col-12">Peleas jugadas</div>
</div>
<div class="row row-table">
  <div class="col-md-2 col-2">Desafiante</div>
  <div class="col-md-2 col-2">Rival</div>
  <div class="col-md-2 col-4">Resultado</div>
  <div class="col-md-2 col-4">Tipo de pelea</div>
  <div class="col-md-1 col-0">Torneo</div>
  <div class="col-md-1 col-0">Fecha</div>
  <div class="col-md-1 col-0">Replay</div>
</div>
{% for result in results %}
<div class="row row-table">
    <div class="col-md-2 col-2">
          <img class="rounded-circle" style="width: 40px; height: 40px;" src="{{ baseUrl }}/app/img/chars/{{result.challenging.main.url_image }}">
          <br>
          <a href="{% url 'player' result.challenging.id %}">{{ result.challenging.nickname }}</a>
          {% if result.challenging == result.victory_player %}
          <br>
          <span class="badge badge-success">+ {{ result.ranking_del|floatformat }}</span>
          {% else %}
          <span class="badge badge-danger">- {{ result.ranking_del|floatformat }}</span>
          {% endif %}
    </div>
    <div class="col-md-2 col-2">
          <img class="rounded-circle" style="width: 40px; height: 40px;" src="{{ baseUrl }}/app/img/chars/{{result.rival.main.url_image }}">
          <br>
          <a href="{% url 'player' result.rival.id %}">{{ result.rival.nickname }}</a>
          <br>
          {% if result.rival == result.victory_player %}
          <span class="badge badge-success">+ {{ result.ranking_del|floatformat }}</span>
          {% else %}
          <span class="badge badge-danger">- {{ result.ranking_del|floatformat }}</span>
          {% endif %}
    </div>
    <div class="col-md-2 col-4"><h4><span class="badge badge-secondary">{{ result.challenging_score }} - {{ result.rival_score }}</span></h4></div>
    <div class="col-md-2 col-4"><h4><span class="badge badge-primary">{{ result.mtype.name }}</span></h4></div>
    <div class="col-md-1 col-0">--</div>
    <div class="col-md-1 col-0">{{ result.created }}</div>
    <div class="col-md-1 col-0">
      {% if result.replay_url %}
      <a href="{{ result.replay_url }}">Ver replay</a>
      {% else %}
      --
      {% endif %}
    </div>
  </div>
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if results.has_other_pages %}
      {% if results.has_previous %}
      <li class="page-item"><a class="page-link" data-page="{{ results.previous_page_number }}" href="{{ request.path }}?page={{ results.previous_page_number }}">Anterior</a></li>
      {% endif %}
      {% for i in results.paginator.page_range %}
      {% if results.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" data-page="{{ i }}" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if results.has_next %}
      <li class="page-item"><a class="page-link" data-page="{{ results.next_page_number }}" class="change-page" data-page="{{ results.next_page_number }}" href="{{ request.path }}?page={{ results.next_page_number }}">Siguiente</a></li>
      {% endif %}
  </ul>
  {% endif %}
</ul>
</nav>
{% endblock %}
