{% extends "app/layout.html" %} {% block content %} {% load staticfiles i18n %}
{% static "" as baseUrl %}



<table class="table">
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Ranking</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="{% url 'player' player.id %}">
                <img class="rounded-circle" style="width: 30px; height: 30px;" src="{{ baseUrl }}/app/img/chars/{{player.main.url_image }}">
            {{ player.nickname }}</a>
        </td>
        <td>{{ player.ranking|floatformat }}</td>
    </tr>

    {% endfor %}             
</table> 
{% endblock %}