{% extends "app/layout.html" %} {% block content %} 
{% load staticfiles i18n %}


    <div class="row">
        <div class="col-md-2" style="text-align: center">     
            <img class="rounded-circle" style="width: 200px; height: 200px;" src="{{ baseUrl }}/static/app/img/liga_chilena.png">
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'league_results' league.slug %}">Últimos resultados</a></li>
                <li class="list-group-item"><a href="{% url 'league_ranking' league.slug %}">Ranking / Players</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card dark-card">
                <div class="card-body">
                    {% block content_project %}{% endblock %}
                </div>
            </div>
            
        </div>
    </div>


{% endblock %}
