{% extends "app/league/layout.html" %} {% block content_project %} {% load staticfiles i18n %}


    <table class="table">
        <thead>
        <tr>
            <th>Detalles del jugador</th>
            <td><a class="btn btn-danger btn-sm" href="#modal-new-player" data-toggle="modal">Editar datos</a></td>
        </tr>
        </thead>
        <tr>
            <th>Nick</th>
            <th>{{ player.nickname }}</th>
        </tr>
        <tr>
            <th>Ranking</th>
            <th><h4><span class="badge badge-secondary">{{ player.ranking|floatformat }}</span></h4></th>
        </tr>
        <tr>
            <th>Main</th>
            <th><img class="rounded-circle" style="width: 40px; height: 40px;"
                     src="{{ baseUrl }}/static/app/img/chars/{{ league.game.url_image }}/{{ player.main.url_image }}"></th>
        </tr>
    </table>

    <div class="row row-table">
        <div class="col-md-12 col-12">Peleas jugadas</div>
    </div>
    {% include "app/league/table_results.html" %}

    <hr>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if results.has_other_pages %}
                {% if results.has_previous %}
                    <li class="page-item"><a class="page-link" data-page="{{ results.previous_page_number }}"
                                             href="{{ request.path }}?page={{ results.previous_page_number }}">Anterior</a>
                    </li>
                {% endif %}
                {% for i in results.paginator.page_range %}
                    {% if results.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" data-page="{{ i }}"
                                                 href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if results.has_next %}
                    <li class="page-item"><a class="page-link" data-page="{{ results.next_page_number }}"
                                             class="change-page" data-page="{{ results.next_page_number }}"
                                             href="{{ request.path }}?page={{ results.next_page_number }}">Siguiente</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
        </ul>
    </nav>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-new-player" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form id="form-new-player" action="{% url 'league_player_edit' league_slug=league.slug player_id=player.id %}" method="POST"
                      enctype="multipart/form-data" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <fieldset>

                            {% csrf_token %}

                            {{ form.non_field_errors }}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                </div>
                            {% endfor %}
                            {{ form_new_result }}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="save-new-result" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
