{% extends "app/league/layout.html" %} {% block content_project %} {% load staticfiles i18n %}
    {% static "" as baseUrl %}


    <div class="clearfix">
        <div class="pull-right">
            {% if user.is_superuser %}
                <a class="btn btn-danger btn-sm" href="#modal-new-player" data-toggle="modal">+ Agregar nuevo player</a>
            {% endif %}
        </div>
    </div>

    <hr>
    
    <table class="table">
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Ranking</th>
            <th>Victorias</th>
            <th>Derrotas</th>
            <th>Rango</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'league_player' league.slug player.id %}">
                        <img class="rounded-circle" style="width: 30px; height: 30px;"
                             src="{{ baseUrl }}/app/img/chars/{{ player.main.url_image }}">
                        {{ player.nickname }}</a>
                </td>
                <td>{{ player.ranking|floatformat }}</td>
                <td>{{ player.victories }}</td>
                <td>{{ player.loses }}</td>
                <td>
                    {% if forloop.counter is 1 %}
                    GRAN MAESTRO
                    {% endif %}
                    {% if forloop.counter is 2 %}
                    GRAN PATRIARCA
                    {% endif %}
                    {% if forloop.counter is 3 %}
                    DIOS DRAGÓN
                    {% endif %}
                    {% if forloop.counter is 4 %}
                    APRENDIZ DIVINO
                    {% endif %}
                    {% if forloop.counter is 5 %}
                    EL TALENTOSO
                    {% endif %}
                    {% if forloop.counter > 5 %}
                    CHIC@ NORMAL
                    {% endif %}                    
                </td>
            </tr>

        {% endfor %}
    </table>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-new-player" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form id="form-new-player" action="{% url 'league_create_new_player' league.slug %}" method="POST"
                      enctype="multipart/form-data" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <fieldset>
                            
                            {% csrf_token %}

                              {{ form.non_field_errors }}

                              {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                              {% endfor %}

                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                        {{ field.help_text }} 
                                    </div>
                                {% endfor %}
                            {{ form_new_result }}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="save-new-result" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
{% endblock %}