{% extends "app/league/layout.html" %} {% block content_project %} {% load staticfiles i18n %}


    <div class="clearfix">
        <div class="pull-right">
            {% if user.id == league.user.id %}
                <a class="btn btn-danger btn-sm" href="#modal-new-player" data-toggle="modal">+ Agregar nuevo player</a>
            {% endif %}
        </div>
    </div>

    <hr>

    <table class="table">
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Ranking</th>
            <th>Victorias</th>
            <th>Derrotas</th>
            <th>Jugadas</th>
            <th>Título</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'league_player' league.slug player.id %}">
                        <img class="rounded-circle" style="width: 40px; height: 40px;"
                             src="{{ baseUrl }}/static/app/img/chars/{{ league.game.url_image }}/{{ player.main.url_image }}">
                        <img style="width: 25px; height: 25px;"
                             src="{{ baseUrl }}/static/app/img/flags/{{ player.country.url_image }}">
                        {{ player.nickname }}
                        {% if forloop.counter is 1 %}
                            Patriarca
                        {% endif %}     
                        {% if forloop.counter is 2 %}
                           de Géminis
                        {% endif %}
                        {% if forloop.counter is 3 %}
                            de Virgo
                        {% endif %}
                        {% if forloop.counter is 4 %}
                            de Libra
                        {% endif %}
                        {% if forloop.counter is 5 %}
                            de Aries
                        {% endif %}
                        {% if forloop.counter is 6 %}
                            de Sagitario
                        {% endif %}
                        {% if forloop.counter is 7 %}
                            de Leo
                        {% endif %}
                        {% if forloop.counter is 8 %}
                            de Capricornio
                        {% endif %}
                        {% if forloop.counter is 9 %}
                            de Acuario
                        {% endif %}
                        {% if forloop.counter is 10 %}
                            de Escorpión
                        {% endif %}           
                        {% if forloop.counter is 11 %}
                            de Tauro
                        {% endif %}       
                        {% if forloop.counter is 12 %}
                            de Cancer
                        {% endif %}        
                        {% if forloop.counter is 13 %}
                            de Piscis
                        {% endif %} 
                    </a>
                        {% with ''|center:player.champions as range %}
                        <br>
                        {% for _ in range %}
                            <img style="" src="{{ baseUrl }}/static/app/img/cup.png">
                        {% endfor %}
                        {% endwith %}
                </td>
                <td>{{ player.ranking|floatformat }}</td>
                <td>{{ player.victories }}</td>
                <td>{{ player.loses }}</td>
                <td>{{ player.played }}</td>
                <td>
                    {% if forloop.counter is 1 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/0.png">
                    {% endif %}
                    {% if forloop.counter is 2 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/1.png">
                    {% endif %}
                    {% if forloop.counter is 3 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/2.png">
                    {% endif %}
                    {% if forloop.counter is 4 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/3.png">
                    {% endif %}
                    {% if forloop.counter is 5 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/4.png">
                    {% endif %}
                    {% if forloop.counter is 6 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/5.png">
                    {% endif %}
                    {% if forloop.counter is 7 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/6.png">
                    {% endif %}
                    {% if forloop.counter is 8 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/7.png">
                    {% endif %}
                    {% if forloop.counter is 9 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/8.png">       
                    {% endif %}
                    {% if forloop.counter is 10 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/9.png">
                    {% endif %}           
                    {% if forloop.counter is 11 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/10.png">
                    {% endif %}       
                    {% if forloop.counter is 12 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/11.png">
                    {% endif %}        
                    {% if forloop.counter is 13 %}
                        <img style="width: 70px; height: 70px;" src="{{ baseUrl }}/static/app/img/range/12.png">
                    {% endif %}                                                                        
                    {% if forloop.counter > 13 %}
                        Caballero de bronce
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>

    <hr>

    <h2>Players inactivos</h2>

    <table class="table">
        <tr>
            <th>Player</th>
            <th>Ranking</th>
            <th>Victorias</th>
            <th>Derrotas</th>
            <th>Jugadas</th>
        </tr>
        {% for player in players_disabled %}
            <tr>
                <td>
                    <a href="{% url 'league_player' league.slug player.id %}">
                        <img class="rounded-circle" style="width: 40px; height: 40px;"
                             src="{{ baseUrl }}/static/app/img/chars/{{ league.game.url_image }}/{{ player.main.url_image }}">
                        <img style="width: 25px; height: 25px;"
                             src="{{ baseUrl }}/static/app/img/flags/{{ player.country.url_image }}">
                        {{ player.nickname }}
                    </a>
                        {% with ''|center:player.champions as range %}
                        <br>
                        {% for _ in range %}
                            <img style="" src="{{ baseUrl }}/static/app/img/cup.png">
                        {% endfor %}
                        {% endwith %}
                </td>
                <td>{{ player.ranking|floatformat }}</td>
                <td>{{ player.victories }}</td>
                <td>{{ player.loses }}</td>
                <td>{{ player.played }}</td>
            </tr>

        {% endfor %}
    </table>

    {% if user.id == league.user.id %}
    <!-- Create Modal -->
    <div class="modal fade" id="modal-new-player" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form id="form-new-player" action="{% url 'league_create_new_player' league.slug %}" method="POST"
                      enctype="multipart/form-data" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <fieldset>

                            {% csrf_token %}

                            {{ form.non_field_errors }}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                </div>
                            {% endfor %}
                            {{ form_new_result }}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="save-new-result" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    
{% endblock %}