html {
    padding-bottom: 60px;
}

table a {
	font-size: 12px;
}

table {
	font-size: 12px;
}
.background-image {
	background-image: url(https://3rdstrike.cl/assets/img/placeholder-big.jpg);
}

body {
    
}